.info-block{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-block>p {
    margin-bottom: 40px;
    text-align: center;
    font-size: 150%;
}
article img{
    border-radius: 10%;
}
article{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}
article>p{
    width: 400px;
    word-spacing: 10px;
}
#up-arrow{
    background-color: inherit;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 5%;
    right: 40px;
    font-size: 4rem;
    cursor: pointer;
    text-align: center;
    display: none;
}
hr{
    margin-top: 40px;
}
#oferta-article{
    max-width: 600px;
    font-size: 110%;
    text-align: center;
    word-spacing: 5px;
}

